body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #f3f8ff;
  justify-content: center;
  margin-top: 50px;
}

div {
  display: block;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 24px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: none;
    padding: 4px 8px; 
    line-height: 1.2;
}

.slider {
    display: block;
    width: 800px;
    position: relative;
    text-align: center;
  }

  .slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
