body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #f3f8ff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 24px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: none;
    padding: 8px 12px;
}
